@import url(../reset.css);

.wrap{
  height: 4000px;
}
.header{
  display: flex;
  flex-direction: column;
} 
.header .logo-img{
  border: 1px solid #000;
  position: absolute;
  left: 30%;
}
.header .logo-img img{
  width: 200px;
} 
.header .title-menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .title-menu .menu-top{
  height: 50px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
}
.header .title-menu .menu-top li{
  border: 1px solid #000;
  margin-right: 5px;
}
.header .title-menu .icon{
  display: flex;
  align-items: center;
}
.header .fixed-header{
  width: 100vw;
  margin-top: 50px;
  position: sticky;
}
.header .fixed-header .menu-header{
  height: 50px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.header .fixed-header .menu-header li{
  border: 1px solid #000;
  margin: auto 10px;
}

