div{
  border: 2px solid black;
  width: 150px;
  height: 200px;
  margin-top: 10px;
  display: inline-block;
}
div:nth-child(2n){
  background: skyblue;
}
div:nth-child(2n-1){
  background: lightpink;
}
div:hover{
  transform: scale(1.1);
}
