@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");
*{
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: none;
}
header{
  background: gray;
  display: flex;
  color: white;
  height: 110px;
}
header .logo{
  /* border: 3px solid red; */
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellow;
}
header .logo img{
  width: 50%; 
}
header nav{
  /* 부모에게 flex로 변경! */
  display: flex;
  align-items: center;
}
header nav ul{
  /* 부모에게 flex로 변경! */
  display: flex;
  align-items: center;
  /* background: aqua; */
}
header nav ul li{
  /* border: 2px solid #000; */
}
header .gnb{
  /* border: 3px solid blue; */
  width: 45%;
  display: flex;
}
header .gnb li{
  margin-right: 60px;
}
header .snb{
  /* border: 3px solid greenyellow; */
  width: 30%;
  display: flex;
}
header .snb li{
  margin-right: 25px;
}